<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Flash cards app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Escolha:</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button expand="block" color="tertiary" href="/insert">Inserir card</ion-button>
    <ion-button expand="block" color="success" href="/practice">Praticar</ion-button>
  </div>
</ion-content>
