<ion-header>
  <ion-toolbar>
    <ion-title>insert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-input value="Insira o novo card" readonly></ion-input>
  </div>

  <div id="container">
    <ion-item>
      <ion-label position="floating">Palavra a memorizar:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>

  <div id="container">
    <ion-item>
      <ion-label position="floating">Tradução em português:</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>

  <div id="container">
    <ion-button expand="block" color="success" href="/home">Salvar</ion-button>
  </div>
  
  <div id="container">
    <ion-button expand="block" color="tertiary" href="/home">Voltar</ion-button>
  </div>
</ion-content>
